@import url('https://fonts.googleapis.com/css?family=Oswald');
body {
  background: white;

}

div {
  font-style: italic;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

#profilepicture{
  width: 200px;

}
h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  text-align: center;
}
#githubprofile {
  font-style: italic;
color: blue;
text-align: center;
}
.poster{
  width: 500px;
  margin-right: auto; width:50%;
  padding-right: 30px;
}
.infographic{
  width: 753px;

}
.index{
  position: fixed;
  top: 0;
}
.homeButton{
  color: blue;
  background: red;

}
